<nav>
    <div class="header-options">
        <div class="logo">
            <a href="/"><img src="/img/logo.svg" alt="Logo de UniFi" /></a>
        </div>
        <div class="header-options">
            <a class="no-link" href="/wallet"><i class="fas fa-wallet"></i><span>Wallet</span></a>
            <a class="no-link" href="/login"><i class="fas fa-user-alt"></i><span>Login</span></a>
        </div>
    </div>
</nav>