<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-creUpDelProduct.css">
</head>
<body>
    <header class="header bg-dark-gray">
        <%- include('../partials/header') %>
    </header>

    <main class="main-container">
        <ul class="no-list progressive-links">
            <li>
                <a class="no-link" href="/markets/"><span>markets</span></a>
                <i class="fas fa-chevron-right"></i>
            </li>
            <li>
                <a class="no-link" href="/markets/">
                    <span></span>
                </a>
            </li>
            <li>
                <i class="fas fa-chevron-right"></i>
                <span>create</span>
            </li>
        </ul>
        <h1 class="text-center">Create New Product</h1>


        <form method="POST" enctype="multipart/form-data" action="/markets/create">
            <div class="form">
                <input type="text" name="name" placeholder="Name" class="input">

                <input type="text" name="ticker" placeholder="Ticker" class="input">
                <input type="number" name="price" placeholder="Price" class="input">
                <input type="number" step="0.01" name="change" placeholder="Change" class="input">
                <input type="number" name="supply" placeholder="Supply" class="input">
                <input type="number" name="mcap" placeholder="MarketCap" class="input">
                <select name="type_id" id="type_id" class="select">
                    <option value=""></option>
                </select>
                <div class="input-file">
                    <input type="file" name="logo" id="logo" class="input-file-button">
                </div>
                
                

            </div>
            <button type="submit" class="load-product">Create</button>
        </form>

    </main>

    <footer class="footer">
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>