<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniFi</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/themes.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-index.css">

</head>
<body>

    <main>
        <!-- Encabezado de la página -->
        <header class="header">
            <div> <!-- logo de encabezado -->
                <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo de UniFi" /></a>
            </div>
            
            <!-- barra de menu hamburguesa y login -->
            <nav class="header-navbar-menu">
                <div class="container-menu">                    
                    <a href=""><i class="hamburguer-menu fas fa-bars"></i></a>
                </div>
                <a class="no-link" href="/login"><i class="fas fa-user-alt icon-login"></i>Login</a>
            </nav>

            <nav class="header-navbar-list"> <!-- barra de navegación del encabezado -->
                <ul class="navbar-menu">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Cryptocurrency</a></li>
                    <li><a href="">Stocks</a></li>
                </ul>
            </nav>
        </header>

        <!-- Cuerpo del Home -->
        <section class="section-home">
            <div class="container-home">
                <div>
                    <img class="image-welcome" src="/img/chart.png" alt="">
                </div>

                <article class="article-welcome">
                    <div class="paragraph-welcome">
                        <p>Welcome to the leading company in the financial assets and cryptocurrency market
                        </p>
                    </div>

                    <div class="create-account">
                        <a href=""><h2>Create an account</h2></a>
                    </div>            
                </article>
            </div>

            <aside class="aside-card"> <!-- barra lateral derecha del Home -->
                <div class="card">
                    <img class="buy-crypto" src="/img/comprar-crypto.png" alt="buy-crypto">
                    <h3 class="title-card">Buy cryptocurrencies</h3>
                </div>

                <div class="card">
                    <img class="financial-assets" src="/img/activos-financieros.png" alt="financial-assets">
                    <h3 class="title-card">Buy financial assets</h3>
                </div>
            </aside>
        </section>

        <!-- Sección de artículos -->
        <section class="section-article"> 
            <article class="article">
                <img class="image-article" src="/img/btc_logo.png" alt="Logo de BTC"/> 
                <h3>Currency</h3>
                <p class="price-article">Price</p>
                <p class="value-article">$ 60000.80</p>
                <p class="change-article">Change</p>
                <p class="percentage-article">+6.95%</p>
            </article>

            <article class="article">
                <img class="image-article" src="/img/btc_logo.png" alt="Logo de BTC"/> 
                <h3>Currency</h3>
                <p class="price-article">Price</p>
                <p class="value-article">$ 60000.80</p>
                <p class="change-article">Change</p>
                <p class="percentage-article">+6.95%</p>
            </article>

            <article class="article">
                <img class="image-article" src="/img/btc_logo.png" alt="Logo de BTC"/> 
                <h3>Currency</h3>
                <p class="price-article">Price</p>
                <p class="value-article">$ 60000.80</p>
                <p class="change-article">Change</p>
                <p class="percentage-article">+6.95%</p>
            </article>

            <article class="article">
                <img class="image-article" src="/img/btc_logo.png" alt="Logo de BTC"/> 
                <h3>Currency</h3>
                <p class="price-article">Price</p>
                <p class="value-article">$ 60000.80</p>
                <p class="change-article">Change</p>
                <p class="percentage-article">+6.95%</p>
            </article>

        </section>
        

        <!-- Pié de página del Home -->
        <footer class="footer">
            <div> <!-- imagen de pie de pagina -->
                <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo de UniFi" /></a>
            </div>            

            <nav class="footer-navbar">
                <ul class="footer-navbar-list"> <!-- enlaces del pie de pagina -->
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </nav>

            <p class="copyright">©Todos los derechos reservados a UniFi</p>

        </footer>

    </main>

</body>
</html>