<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UniFi</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/themes.css" />
    <link rel="stylesheet" href="/css/styles-login.css" />
</head>
<body>
    <div class="container">  
        <div class="card">
            <div class="inner-box">       
                <header class="main-header">
                    <div class="logo">
                      <img src="/img/logo.svg" alt="Logo de UniFi" />
                    </div>
                  </header>

                    <form>
                        <input type="email" class="input-box" placeholder="Email" required>
                        <input type="password" class="input-box" placeholder="Password" required>
                        <a href="/index"><button type="login" alt="Login">Login</button></a>
                        <input type="checkbox"><span>Remember Me</span></input>
                    </form>
                    <div href="/wallet" ><button type="button" class="fas fa-wallet">Wallet Connect</button></div>
</body>                                 
<footer>               
                    <div><a href="/register">Don't have account yet? Register</a></div>                                       
                    <div><a href="">Forgot Password</a></div>      
</footer>

