<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
      <link rel="stylesheet" href="/css/styles-login.css" />
  </head>
<body>
    <div class="container">  
        <div class="card">
            <div class="inner-box">       
                <header class="main-header">
                    <div class="logo">
                      <img src="/img/logo.svg" alt="Logo de UniFi" />
                    </div>
                </header>
                    <form>
                        <input type="email" class="input-box" placeholder="Email" required>
                        <input type="password" class="input-box" placeholder="Password" required>
                        <a href="/index"><button type="login" alt="Login">Login</button></a>
                        <input type="checkbox"><span>Remember Me</span></input>
                    </form>
                    <div href="/wallet" ><button type="button" class="fas fa-wallet">Wallet Connect</button></div>
</body>                                 
<footer>               
                    <div><a href="/register">Don't have account yet? Register</a></div>                                       
                    <div><a href="">Forgot Password</a></div>      
</footer>

