<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UniFi</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/themes.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="header-options">
                <div class="logo">
                    <a href="/"><img src="/img/logo.svg" alt="Logo de UniFi" /></a>
                </div>
                <div class="header-options">
                    <a href="/wallet"><i class="fas fa-wallet"></i></a>
                    <a href="/login"><i class="fas fa-user-alt"></i></a>
                </div>
            </div>
        </nav>

    </header>

    <main>
        <div class="main-price">
            <div class="currency-logo">
                <img src="/img/btc_logo.png" alt="Logo de BTC"/>
            </div>
            <h1 class="heading-font currency-title">Bitcoin (BTC) Price</h1>
            <span>$60.000</span>
        </div>

        <div>
            <div>
                <div>
                    <div style="overflow: hidden" class="converter">
                        <div style="order: 1" class="currency">
                            <img src="/img/btc_logo.png" alt="converter-coin-logo" class="currency-logo" />
                            <div>
                                <p>BTC</p>
                                <p>Bitcoin</p>
                            </div>
                            <div>
                                <input type="number" value="1" pattern="/^-?d+.?d*$/" maxlength="8" />
                            </div>
                        </div>
                        <div style="order: 2" class="currency">
                            <img src="/img/usd.svg" alt="converter-coin-logo" class="currency-logo" />
                            <div>
                                <p>USD</p>
                                <p>United States Dollar</p>
                            </div>
                            <div>
                                <input type="number" value="60.000" maxlength="8" />
                            </div>
                        </div>
                        <img src="/img/exchange.png" class="exchange-button" />
                    </div>
                </div>
            </div>
            <h2>BTC Price Statistics</h2>
            <table>
                <caption itemprop="about">
                    BTC Price Today
                </caption>
                <tbody>
                    <tr>
                        <th scope="row">
                            <strong>Smooth Love Potion Price</strong>
                        </th>
                        <td>$60.000</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>Price Change<span>24h</span></span>
                        </th>
                        <td>
                            <span>$2.000</span>
                            <div>
                                <span style="
                                            font-size: 12px;
                                            font-weight: 600;
                                        "><span></span>3.82%</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">24h Low / 24h High</th>
                        <td>
                            <div>$0.06283 /</div>
                            <div>$0.06782</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>Trading Volume<span class="badge24h">24h</span></span>
                        </th>
                        <td>
                            <span>$124,755,622.69</span>
                            <div>
                                <span style="
                                            font-size: 12px;
                                            font-weight: 600;
                                        "><span></span>31.11%
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Volume / Market Cap</th>
                        <td>0.9021</td>
                    </tr>
                    <tr>
                        <th scope="row">Market Dominance</th>
                        <td>
                            <span class="">0.01
                                <!-- -->%
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Market Rank</th>
                        <td>#355</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button>BUY</button>
            </div>
        </div>

        <div>
            <img src="/img/btc_chart.png" alt="BTC Graph" width="100%">
        </div>
    </main>

    <footer></footer>
</body>

</html>