/* ESTILOS ESTANDAR */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

.logo {
    width: 145px;
    height: 75px;
}

/* ESTILOS DE CLASES */

/* ESTILOS DE HEADER */
.header {
    padding: 5px 15px;
    border-bottom: 2px solid rgb(239, 242, 245);
    display: flex;
    justify-content: space-between;
}

.header-navbar-menu {
    display: flex;
    align-self: center;
    padding: 5px 15px;
    font-size: 18px;
}

.header-navbar-menu a {
    padding: 5px 15px;
}

.container-menu {
    border: 1px solid #000000;
    border-radius: 5px;
}

.header-navbar-menu .no-link span { /* Login deshabilitado */
    display: none;
}

.header-navbar-list { /* Lista de menu deshabilitada */
    display: none;
}

/* ESTILOS DE SECTION */

.section-home {
    padding: 0 15px;
}

.image-welcome {
    width: 100%;
    padding: 15px 0;
}

.article-welcome {
    display: flex;
    padding: 15px 0;
}

.paragraph-welcome {
    padding: 0 10px;
    width: 60%;
    text-align: center;
}

.create-account {
    padding: 0 10px;
    width: 40%;
    border: 1px solid #000000;
    border-radius: 50%;
    text-align: center;
}

/* ESTILOS DE ASIDE (BARRA LATERAL) */

.aside-card {
    width: 50%;
    padding: 30px 0 15px;
    margin: 0 auto;
}

.aside h3 {
    text-align: center;
}

.card {
    border: 1px solid #000000;
    margin-bottom: 15px;
    border-radius: 10px;
}

.title-card {
    text-align: center;
}

.buy-crypto {
    width: 100%;
    border-radius: 10px;
}

.financial-assets {
    width: 100%;
    border-radius: 10px;
}

/* ESTILOS DE SECCION DE ARTICULOS */

.section-article {
    padding: 0 15px;   
}

.article {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgb(239, 242, 245);
}

.image-article {
    width: 30px;
    height: 30px;
    align-self: center;
}

.price-article {
    display: none;
}

.value-article {
    align-self: center;
}

.change-article {
    display: none;
}

.percentage-article {
    align-self: center;
    color: green;
}

/* ESTILOS DE FOOTER (PIE DE PAGINA) */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px 0;
    border-top: 2px solid rgb(239, 242, 245);   
}

.footer-navbar {
    align-self: center;
}

.footer-navbar ul {
    padding: 0;    
}

.footer-navbar-list {
    display: flex;
    
}

.footer-navbar-list li {
    padding: 0 15px;
}

.copyright {
    width: 100%;
    font-size: 12px;
}

/* MEDIA QUERY DE PANTALLAS DESDE A 480PX */
@media (min-width: 481px) {

}


/* MEDIA QUERY DE PANTALLAS DESDE A 768PX */
@media (min-width: 768px) {
    .icon-login {
        padding-right: 5px;
    }

    .header-navbar-menu {
        order: 1;
    }

    .container-menu {
        display: none;
    }

    .header-navbar-menu .no-link span { /* Texto Login habilitado */
        display: block;
    }
    
    .header-navbar-list { /* Lista de menu habilitada */
        display: block;
        width: 50%;
        align-self: center;
    }

    .navbar-menu {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .section-home {
        display: flex;
    }

    .container-home {
        padding-right: 10px;
    }

    .aside-card {
        padding: 0 10px;
        align-self: center;
        border-left: 2px solid rgb(239, 242, 245);
    }

    .title-card {
        font-size: 15px;
    }

}


/* MEDIA QUERY DE PANTALLAS DESDE 1200PX */
@media (min-width: 1200px) {
    
}