/* ESTILOS ESTANDAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.logo {
    width: 145px;
    height: 75px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(356deg) brightness(101%) contrast(101%);
}

body {
    background-color: #272b3a;
}

html {
    color: #ffffff;
}

/* ESTILOS DE CLASES */

/* ESTILOS DE HEADER */
.header {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
}

.header-navbar-menu {
    display: flex;
    align-self: center;
    padding: 5px 15px;
    font-size: 18px;
}

.header-navbar-menu a {
    padding: 5px 15px;
}

.container-menu {
    border-radius: 5px;
}

.header-navbar-menu .no-link span { /* Login deshabilitado */
    display: none;
}

.header-navbar-menu i {
    padding-right: 5px;
}

.header-navbar-list { /* Lista de menu deshabilitada */
    display: none;
}

/* ESTILOS DE SECTION */

.section-home {
    padding: 0 15px;
}

/* ESTILOS DE ASIDE (BARRA LATERAL) */

.aside-card {
    margin: 10px auto;
    padding: 0 15px 0 15px;
}

.card {
    background-color: #ffffff;
    margin: 0 10px 20px 10px;
    border-radius: 10px;
    padding: 20px;
}

.card h2, .card p {
    color: #000000;
}

.main-button{
    display: inline-block;
    background-color: #70b429;
    padding: 0px 24px;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
}

.cards-image {
    text-align: center;
}

/* ESTILOS DE SECCION DE ARTICULOS */

.section-article {
    padding: 0 15px;   
}

.article {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgb(239, 242, 245);
}

.image-article {
    width: 30px;
    height: 30px;
    align-self: center;
}

.price-article {
    display: none;
}

.value-article {
    text-align: center;
    align-self: center;
}

.change-article {
    display: none;
}

.percentage-article {
    align-self: center;
}

.percentage-green {
    color: green;
}

.percentage-red {
    color: red;
}

/* MEDIA QUERY DE PANTALLAS DESDE A 480PX */
@media (min-width: 481px) {

}


/* MEDIA QUERY DE PANTALLAS DESDE A 768PX */
@media (min-width: 768px) {
    .icon-login {
        padding-right: 5px;
    }

    .header-navbar-menu {
        order: 1;
    }

    .container-menu {
        display: none;
    }

    .header-navbar-menu .no-link span { /* Texto Login habilitado */
        display: block;
    }
    
    .header-navbar-list { /* Lista de menu habilitada */
        display: block;
        width: 50%;
        align-self: center;
    }

    .navbar-menu {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .container-home {
        padding-right: 10px;
        width: 100%;
    }

    .box-card-article {
        display: flex;
    }

    .aside-card {
        padding: 0;
        align-self: center;
        width: 40%;
        order: 1;
    }

    .card h2 {
        margin: 5px 0;
    }

    .card p {
        margin: 5px 0;
    }

    .cards-image img {
        width: 90%;
    }

    .section-article {
        margin: 10px auto;
        width: 60%;
    }

    .box-price {
        text-align: center;
        align-self: center;
    }
  
/*     .price-article {
        display: block;
        margin: 5px 0;
    } */

    .value-article {
        margin: 5px 0;
        align-self: center;
    }
}


/* MEDIA QUERY DE PANTALLAS DESDE 1200PX */
@media (min-width: 1200px) {
    
}