.body-border {
  border: 2px solid lightgray;
  border-radius: 20px;
  padding: 5px 15px;
  max-width: 900px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-header {
  border-bottom: 2px solid rgb(239, 242, 245);
  padding: 5px 15px;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

header img {
  width: 145px;
  height: 70px;
}

.main-container {
  width: 100%;
  max-width: 900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.main-price {
  font-size: 32px;
  font-weight: 700;
}

.main-price .currency-title {
  color: rgba(91, 97, 110, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.main-price .price-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 5px solid rgb(239 242 245);
}

.price-title .percentage-change {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  background-color: #56e404;
  color: #ffff;
  border-radius: 8px;
}

.converter {
  margin: 10px 0px;
  box-sizing: border-box;
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(239, 242, 245);
}

.converter .currency {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  flex-grow: 1;
  flex-shrink: 1;
}

.converter .first-currency {
  border-bottom: 2px solid rgb(239, 242, 245);
}

.converter .currency-logo {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin-right: 5px;
}

.converter .currency-title {
  font-size: 14px;
  font-weight: 600;
  width: 30vw;
}

.converter .currency-input-div {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
}

.converter .currency-input {
  border: none;
  padding-left: 10px;
  text-align: right;
  font-weight: 600;
  width: 20vw;
}

.converter .currency-logo {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin-right: 12px;
}

.converter .exchange-icon {
  position: absolute;
  left: 46%;
  top: 41%;
  transition: transform 0.5s;
}

.converter .exchange-icon:hover {
  transform: scale(1.5);
}

.sub-price {
  display: flex;
  justify-content: flex-end;
}

.chart {
  display: none;
}

@media (min-width: 768px) {
  .chart {
    display: block;
    width: 100%;
    position: relative;
  }
  .chart img {
    width: 100%;
    height: 100%;
  }
}
