* {
  box-sizing: border-box;
  border-spacing: 0px;
}

html {
  font-family: "Open Sans", sans-serif;
}

.bg-blue {
  background-color: #004c66;
}

.bg-green {
  background-color: #c9f7a6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.m-left{
  margin-left: 40px;
}

.m-right {
  margin-right: 40px;
}

.w-100 {
  width: 100%;
}

.viewport-100 {
  width: 100vw;
}

.no-link {
  text-decoration: none;
  color: black;
}