<div>
  <a href="/"
    ><img class="logo footer-img" src="/img/logo.svg" alt="Logo de UniFi"
  /></a>
</div>
<nav class="footer-navbar">
  <ul class="footer-navbar-list">
    <!-- enlaces del pie de pagina -->
    <li><a class="no-link color-white" href="">Contact</a></li>
    <li><a class="no-link color-white" href="">Help</a></li>
  </ul>
</nav>

<p class="copyright color-white">©Todos los derechos reservados a UniFi</p>
