
    <nav>
        <div class="header-options">
            <div class="logo">
                <a href="/"><img class="header-img" src="/img/logo.svg" alt="Logo de UniFi" /></a>
            </div>
            <div class="header-options header-options-margin-padding">
                <a class="no-link" href="/wallet"><i class="fas fa-wallet"></i><span>Wallet</span></a>
                <a class="no-link" href="/login"><i class="fas fa-user-alt"></i><span>Login</span></a>
            </div>
        </div>
    </nav>
