
    <nav class="header-navbar">
        <div class="logo">
            <a href="/"><img class="header-img" src="/img/logo.svg" alt="Logo de UniFi" /></a>
        </div>
        <nav class="index-navbar">
            <ul class="navbar-menu no-list">
                <li><a class="no-link" href="#about-us">About Us</a></li>
                <li><a class="no-link"href="/markets">Discover</a></li>
                <li><a class="no-link"href="/markets/cryptocurrencies">Cryptocurrencies</a></li>
                <li><a class="no-link"href="/markets/stocks">Stocks</a></li>
            </ul>
        </nav>
        <div class="header-options">
            <div class="universal-options">
                <a class="no-link" style="margin-right: 10px" href="/wallet"><i class="fas fa-wallet"></i>Wallet</a>
                <% if (locals && locals.authenticatedUser) { %>
                    <div class="dropdown">
                        <div class="user">
                            <img class="avatar" src="<%= authenticatedUser.avatar %>" alt="User Avatar">
                            <a class="no-link drop-btn"><%= locals.authenticatedUser.email? locals.authenticatedUser.email.substring(0,8) + "...": locals.authenticatedUser.address.substring(0,8) + "..." %></a>
                        </div>
                        <div class="dropdown-content">
                            <a href="/users/<%= authenticatedUser.id %> ">Profile</a>
                            <a href="/logout">Log out</a>
                        </div>
                    </div>
                <% } else { %>
                    <a class="no-link drop-btn" href="/login"><i class="fas fa-user-alt"></i>Login</a>
                <% } %>
            </div>
        </div>
    </nav>
