
    <nav class="header-navbar">
        <div class="logo">
            <a href="/"><img class="header-img" src="/img/logo.svg" alt="Logo de UniFi" /></a>
        </div>
        <nav class="index-navbar">
            <ul class="navbar-menu no-list">
                <li><a class="no-link" href="#about-us">About Us</a></li>
                <li><a class="no-link"href="/markets">Discover</a></li>
                <li><a class="no-link"href="/markets/cryptocurrencies">Cryptocurrencies</a></li>
                <li><a class="no-link"href="/markets/stocks">Stocks</a></li>
            </ul>
        </nav>
        <div class="header-options">
            <div class="universal-options">
                <a class="no-link" href="/wallet"><i class="fas fa-wallet"></i>Wallet</a>
                <a class="no-link" href="/login"><i class="fas fa-user-alt"></i>Login</a>
            </div>
        </div>
    </nav>
