<!-- escribir acá la vista para la página de error 404 not found -->
<!-- copié contenido de la página de 404 not found de eToro, falta cambiarle links y ponerle algún fondo y foto del logo y listo -->

<html>
  <body>
    <a
      href="#"
      tabindex="-1"
      aria-hidden="true"
      rel="nofollow"
      style="
        opacity: 0.01;
        position: absolute;
        z-index: -999;
        width: 54px;
        height: 22px;
      "
      >___</a
    >
    <div
      style="
        opacity: 0.01;
        position: absolute;
        z-index: -1000;
        width: 54px;
        height: 22px;
      "
    ></div>
    <div class="header">
      <a class="logo" href="/"></a><a href="/login" class="login">Login</a>
    </div>
    <div class="content">
      <div class="container">
        <h1>Oops, Something went wrong...</h1>
        <div class="image"></div>
        <ul>
          <li
            id="menu-item-420"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-420
            "
          >
            <a
              href="https://www.etoro.com/customer-service/help/"
              itemprop="url"
              >Help Center</a
            >
          </li>
          <li
            id="menu-item-28852"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-28852
            "
          >
            <a href="https://www.etoro.com/customer-service/" itemprop="url"
              >Customer Service</a
            >
          </li>
          <li
            id="menu-item-28853"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-28853
            "
          >
            <a href="https://www.etoro.com/trading/academy/" itemprop="url"
              >Trading Academy</a
            >
          </li>
          <li
            id="menu-item-28854"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-28854
            "
          >
            <a
              href="https://www.etoro.com/customer-service/deposit-faq/"
              itemprop="url"
              >Depositing funds into your account – FAQ</a
            >
          </li>
          <li
            id="menu-item-28855"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-28855
            "
          >
            <a
              href="https://www.etoro.com/customer-service/withdraw-faq/"
              itemprop="url"
              >How to withdraw from your eToro account – FAQ</a
            >
          </li>
          <li
            id="menu-item-28856"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-28856
            "
          >
            <a href="https://www.etoro.com/about/contact-us/" itemprop="url"
              >Contact us</a
            >
          </li>
          <li
            id="menu-item-28857"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-28857
            "
          >
            <a href="https://www.etoro.com/trading/academy/tips/" itemprop="url"
              >Trading and Investing Tips</a
            >
          </li>
          <li
            id="menu-item-28858"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-28858
            "
          >
            <a href="https://www.etoro.com/trading/social/" itemprop="url"
              >Social Trading</a
            >
          </li>
          <li
            id="menu-item-28859"
            class="
              menu-item
              menu-item-type-post_type
              menu-item-object-page menu-item-28859
            "
          >
            <a
              href="https://www.etoro.com/customer-service/market-hours-fees/"
              itemprop="url"
              >Market Hours &amp; Fees</a
            >
          </li>
        </ul>
      </div>
    </div>

    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N7SQ5DP"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>

    <script>
      var loadDeferredStyles = function () {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement);
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf =
        window.requestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.msRequestAnimationFrame;
      if (raf)
        raf(function () {
          window.setTimeout(loadDeferredStyles, 0);
        });
      else window.addEventListener("load", loadDeferredStyles);
    </script>

    <iframe
      height="0"
      width="0"
      style="display: none; visibility: hidden"
      src="//6440710.fls.doubleclick.net/activityi;src=6440710;type=visit;cat=lpvis0;ord=1;num=7782199298938;gtm=2wgba1;auiddc=1350132068.1637530618;u8=GA1.2.1336621783.1637530620;u1=undefined;ps=1;~oref=https%3A%2F%2Fwww.etoro.com%2Ffede%2F?"
    ></iframe
    ><iframe
      height="0"
      width="0"
      style="display: none; visibility: hidden"
      src="//9944765.fls.doubleclick.net/activityi;src=9944765;type=visit0;cat=visit0;ord=1;num=3000125393036;gtm=2wgba1;auiddc=1350132068.1637530618;u8=GA1.2.1336621783.1637530620;u1=undefined;ps=1;~oref=https%3A%2F%2Fwww.etoro.com%2Ffede%2F?"
    ></iframe
    ><iframe
      height="0"
      width="0"
      style="display: none; visibility: hidden"
      src="//9944765.fls.doubleclick.net/activityi;src=9944765;type=visit0;cat=pagev0;ord=515582741806035355;u=GA1.2.1336621783.1637530620;gtm=2wgba1;auiddc=1350132068.1637530618;u8=GA1.2.1336621783.1637530620;u1=undefined;ps=1;~oref=https%3A%2F%2Fwww.etoro.com%2Ffede%2F?"
    ></iframe>
    <div style="display: none; visibility: hidden">
      <script
        async="null"
        src="https://ob.cheqzone.com/clicktrue_invocation.js?id=10929"
        data-ch="cheq4ppc"
        class="ct_clicktrue_10929"
      ></script>
    </div>
    <script type="text/javascript" id="">
      !(function (b, e, f, g, a, c, d) {
        b.fbq ||
          ((a = b.fbq =
            function () {
              a.callMethod
                ? a.callMethod.apply(a, arguments)
                : a.queue.push(arguments);
            }),
          b._fbq || (b._fbq = a),
          (a.push = a),
          (a.loaded = !0),
          (a.version = "2.0"),
          (a.queue = []),
          (c = e.createElement(f)),
          (c.async = !0),
          (c.src = g),
          (d = e.getElementsByTagName(f)[0]),
          d.parentNode.insertBefore(c, d));
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "432617183539790");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=432617183539790&amp;ev=PageView&amp;noscript=1"
    /></noscript>
    <script type="text/javascript" id="">
      (function (d) {
        window["__adal_disable_" + d] ||
          ((function (a, c, b) {
            if (!a[b]) {
              a.GlobalAdalyserNamespace = a.GlobalAdalyserNamespace || [];
              a.GlobalAdalyserNamespace.push(b);
              a[b] = function () {
                (a[b].q = a[b].q || []).push(arguments);
              };
              a[b].q = a[b].q || [];
              var e = c.createElement("script");
              c = c.getElementsByTagName("script")[0];
              e.async = 1;
              e.src = "//c0.adalyser.com/adalyser.js?cid\x3d" + d;
              c.parentNode.insertBefore(e, c);
            }
          })(window, document, "adalyserTracker"),
          window.adalyserTracker("create", {
            campaignCookieTimeout: 15552e3,
            conversionCookieTimeout: 604800,
            clientId: d,
            trafficSourceInternalReferrers: ["^(.*\\.)?etoro\\.com$"],
          }),
          window.adalyserTracker("trackSession", "lce1"));
      })("etoro");
    </script>
    <script
      type="text/javascript"
      id=""
      src="https://marketing.etorostatic.com/others/general/js/seo.js"
    ></script>
    <script type="text/javascript" id="">
      (function (a, c, e, k, b) {
        a[b] = a[b] || [];
        a[b].push({ projectId: "10000", properties: { pixelId: "10118123" } });
        var d = c.createElement(e);
        d.src = k;
        d.async = !0;
        d.onload = d.onreadystatechange = function () {
          var f = this.readyState,
            l = a[b];
          if (!f || "complete" == f || "loaded" == f)
            try {
              var g = YAHOO.ywa.I13N.fireBeacon;
              a[b] = [];
              a[b].push = function (h) {
                g([h]);
              };
              g(l);
            } catch (h) {}
        };
        c = c.getElementsByTagName(e)[0];
        e = c.parentNode;
        e.insertBefore(d, c);
      })(window, document, "script", "https://s.yimg.com/wi/ytc.js", "dotq");
    </script>
    <script type="text/javascript" id="">
      !(function (a, b) {
        var e = "00995ec51eb23fc05a0627b93976ed9179";
        if (a.obApi)
          (b = function (d) {
            return "[object Array]" === Object.prototype.toString.call(d)
              ? d
              : [d];
          }),
            (a.obApi.marketerId = b(a.obApi.marketerId).concat(b(e)));
        else {
          var c = (a.obApi = function () {
            c.dispatch
              ? c.dispatch.apply(c, arguments)
              : c.queue.push(arguments);
          });
          c.version = "1.1";
          c.loaded = !0;
          c.marketerId = e;
          c.queue = [];
          a = b.createElement("script");
          a.async = !0;
          a.src = "//amplify.outbrain.com/cp/obtp.js";
          a.type = "text/javascript";
          b = b.getElementsByTagName("script")[0];
          b.parentNode.insertBefore(a, b);
        }
      })(window, document);
      obApi("track", "PAGE_VIEW");
    </script>

    <script
      type="text/javascript"
      src="https://dx.steelhousemedia.com/spx?dxver=4.0.0&amp;shaid=31950&amp;tdr=&amp;plh=https%3A%2F%2Fwww.etoro.com%2Ffede%2F&amp;cb=16907810892444708term=value"
    ></script>
    <script type="text/javascript" id="">
      (function () {
        var c = "4.0.0",
          h = "31950",
          k = "term\x3dvalue";
        try {
          var f =
            "" !== top.document.referer
              ? encodeURIComponent(top.document.referrer.substring(0, 2048))
              : "";
        } catch (g) {
          f =
            null !== document.referrer
              ? document.referrer.toString().substring(0, 2048)
              : "";
        }
        try {
          var a =
            window &&
            window.top &&
            document.location &&
            window.top.location === document.location
              ? document.location
              : window &&
                window.top &&
                window.top.location &&
                "" !== window.top.location
              ? window.top.location
              : document.location;
        } catch (g) {
          a = document.location;
        }
        try {
          var d =
            "" !== parent.location.href
              ? encodeURIComponent(
                  parent.location.href.toString().substring(0, 2048)
                )
              : "";
        } catch (g) {
          try {
            d =
              null !== a
                ? encodeURIComponent(a.toString().substring(0, 2048))
                : "";
          } catch (l) {
            d = "";
          }
        }
        var e;
        a = document.createElement("script");
        var b = document.getElementsByTagName("script");
        b = Number(b.length) - 1;
        b = document.getElementsByTagName("script")[b];
        "undefined" === typeof e && (e = Math.floor(1e17 * Math.random()));
        c =
          "dx.steelhousemedia.com/spx?dxver\x3d" +
          c +
          "\x26shaid\x3d" +
          h +
          "\x26tdr\x3d" +
          f +
          "\x26plh\x3d" +
          d +
          "\x26cb\x3d" +
          e +
          k;
        a.type = "text/javascript";
        a.src =
          ("https:" === document.location.protocol ? "https://" : "http://") +
          c;
        b.parentNode.insertBefore(a, b);
      })();
    </script>
    <script type="text/javascript" id="">
      (function (a, b, d) {
        if (!a.snaptr) {
          var c = (a.snaptr = function () {
            c.handleRequest
              ? c.handleRequest.apply(c, arguments)
              : c.queue.push(arguments);
          });
          c.queue = [];
          a = "script";
          r = b.createElement(a);
          r.async = !0;
          r.src = d;
          b = b.getElementsByTagName(a)[0];
          b.parentNode.insertBefore(r, b);
        }
      })(window, document, "https://sc-static.net/scevent.min.js");
      snaptr("init", "2b300842-74be-4e72-8ed5-3bab9449a996", {
        user_email: "__INSERT_USER_EMAIL__",
      });
      snaptr("track", "PAGE_VIEW");
    </script>

    <script type="text/javascript" id="">
      _linkedin_partner_id = "2929684";
      window._linkedin_data_partner_ids =
        window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript" id="">
      (function () {
        var b = document.getElementsByTagName("script")[0],
          a = document.createElement("script");
        a.type = "text/javascript";
        a.async = !0;
        a.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        b.parentNode.insertBefore(a, b);
      })();
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display: none"
        alt=""
        src="https://px.ads.linkedin.com/collect/?pid=2929684&amp;fmt=gif"
      />
    </noscript>

    <img
      width="1"
      height="1"
      alt=""
      border="0"
      src="https://insight.adsrvr.org/track/evnt/?adv=bm058hk&amp;ct=0:mu6d391&amp;fmt=3"
      style="display: none"
    />
    <script
      type="text/javascript"
      src="https://px.steelhousemedia.com/st?ga_tracking_id=UA-2056847-65&amp;ga_client_id=1336621783.1637530620&amp;shpt=Page%20not%20found%20-%20eToro&amp;ga_info=%7B%22status%22%3A%22OK%22%2C%22ga_tracking_id%22%3A%22UA-2056847-65%22%2C%22ga_client_id%22%3A%221336621783.1637530620%22%2C%22shpt%22%3A%22Page%20not%20found%20-%20eToro%22%2C%22dcm_cid%22%3A%22undefined.undefined%22%2C%22dcm_gid%22%3A%222046693865.1638157346%22%2C%22execution_workflow%22%3A%7B%22iteration%22%3A1%2C%22getTrackingIdByGA%22%3A%22FAILED%22%2C%22getTrackingIdByOther1%22%3A%22FAILED%22%2C%22getTrackingIdByOther2%22%3A%22OK%22%2C%22getClientIdByGA%22%3A%22OK%22%2C%22shpt%22%3A%22OK%22%2C%22dcm_gid%22%3A%22OK%22%7D%7D&amp;dcm_cid=undefined.undefined&amp;dcm_gid=2046693865.1638157346&amp;dxver=4.0.0&amp;shaid=31950&amp;plh=https%3A%2F%2Fwww.etoro.com%2Ffede%2F&amp;cb=16907810892444708term%3Dvalue&amp;shadditional=googletagmanager%3Dtrue%2C"
    ></script>
    <script type="text/javascript" id="">
      window._tfa = window._tfa || [];
      window._tfa.push({ notify: "event", name: "page_view", id: 1005612 });
      !(function (a, b, d, c) {
        document.getElementById(c) ||
          ((a.async = 1),
          (a.src = d),
          (a.id = c),
          b.parentNode.insertBefore(a, b));
      })(
        document.createElement("script"),
        document.getElementsByTagName("script")[0],
        "//cdn.taboola.com/libtrc/unip/1005612/tfa.js",
        "tb_tfa_script"
      );
    </script>
    <noscript>
      <img
        src="https://trc.taboola.com/1005612/log/3/unip?en=page_view"
        width="0"
        height="0"
        style="display: none"
      />
    </noscript>
    <div>
      <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
        rel="stylesheet"
      />
    </div>
    <div
      style="width: 0px; height: 0px; display: none; visibility: hidden"
      id="batBeacon528151951198"
    >
      <img
        style="width: 0px; height: 0px; display: none; visibility: hidden"
        id="batBeacon397485798261"
        width="0"
        height="0"
        alt=""
        src="https://bat.bing.com/action/0?ti=19002254&amp;tm=gtm002&amp;Ver=2&amp;mid=2dc81b20-16e7-45a6-b2f5-774e3e996d80&amp;sid=5e692bf050c611ec80940584c2c37b68&amp;vid=28c56d404b1311ec944ca1b0ceea4a15&amp;vids=0&amp;pi=918639831&amp;lg=es-419&amp;sw=1440&amp;sh=900&amp;sc=30&amp;tl=Page%20not%20found%20-%20eToro&amp;p=https%3A%2F%2Fwww.etoro.com%2Ffede%2F&amp;r=&amp;lt=753&amp;evt=pageLoad&amp;msclkid=N&amp;sv=1&amp;rn=620086"
      />
    </div>
    <img
      class="ywa-10000"
      src="https://sp.analytics.yahoo.com/sp.pl?a=10000&amp;d=Mon%2C%2029%20Nov%202021%2003%3A42%3A28%20GMT&amp;n=3&amp;b=Page%20not%20found%20-%20eToro&amp;.yp=10118123&amp;f=https%3A%2F%2Fwww.etoro.com%2Ffede%2F&amp;enc=UTF-8&amp;yv=1.10.2&amp;tagmgr=gtm"
      alt="dot image pixel"
      style="display: none"
    />
  </body>
</html>
