<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-login-register.css" />
  </head>
<body class="bg-dark-gray">
    <header>
        <nav class="header-navbar">
            <div class="logo">
                <a href="/"><img class="header-img" src="/img/logo.svg" alt="Logo de UniFi" /></a>
            </div>
        </nav>
    </header>
    <main class="main-container color-white">
        <div class="main-text">
            <h1>Log into your UniFi account</h1>
            <p>Hi there, welcome back! Log in with your email and password or just use your wallet</p>
        </div>
        <!-- Si se enviaron mensajes de error a la vista de registro, mostrarlos -->
        <% if (locals && locals.errorMessages) { %> 
            <% for(let error in errorMessages) { %>
            <p class="errors"><%= errorMessages[error].msg %> </p>
            <% } %> 
        <% } %> 
        <div class="login-form-container">
            <form class="login-form" action="/login" method="POST">
                <label for="email">Email</label>
                <div class="input-box">
                    <input type="email" name="email" value="<%= locals.old? old.email: '' %>" required>
                </div>
                <label for="password">Password</label>
                <div class="input-box">
                    <input  type="password" name="password" required>
                </div>
                <label for="remember">
                    <input type="checkbox" class="checkbox" name="remember"> Remember Me
                </label>
                <button type="submit" alt="Login">Log in</button>
                <div class="other-links">
                    <a class="no-link" href="">Forgot your password?</a>
                    <a class="no-link" href="/register">Don't have account yet? Register</a>
                </div>
            </form>
            <div class="wallet-login">
                <form action="/loginP" method="POST">
                    <img src="/img/metamask.svg" alt="Metamask Logo">
                    <input type="text" name="address" id="address" class="address">
                    <button type="submit" id="metamaskButton" alt="Login with wallet">Log in with my wallet</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p class="copyright color-white text-center">©Todos los derechos reservados a UniFi</p>
    </footer>
    <%- include ('../partials/metamaskLogin') %> 
</body>
</html>