<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
      <link rel="stylesheet" href="/css/styles-login.css" />
  </head>
<body>
    <div class="container">
        <div class="card">
            <div class="inner-box">
                <header class="main-header">
                  <%- include('../partials/header') %>
                </header>
                    <!-- Si se enviaron mensajes de error a la vista de registro, mostrarlos -->
                    <% if (locals && locals.errorMessages) { %> 
                        <% for(let error in errorMessages) { %>
                        <p class="errors"><%= errorMessages[error].msg %> </p>
                        <% } %> 
                    <% } %> 
                    <form action="/login" method="POST">
                        <input type="email" name="email" class="input-box" placeholder="Email" required>
                        <input type="password" name="password" class="input-box" placeholder="Password" required>
                        <span><input type="checkbox" name="remember"> Remember Me</span>
                        <a href="/index"><button type="submit" alt="Login">Login</button></a>
                    </form>
                    <button><img class="image-article" src="/img/37784886.jpg" alt="Wallet"/>Wallet Connect</button>
                    <div><a class="account color-white" href="/register">Don't have account yet? Register</a></div>
                    <div><a class="account-1 color-white" href="">Forgot Password</a></div>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>



