<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
      <link rel="stylesheet" href="/css/styles-register.css" />
  </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="inner-box">
                    <header class="main-header">
                        <div class="logo">
                          <img src="/img/logo.svg" alt="Logo de UniFi" />
                        </div>
                      </header>
    
                        <form>
                            <input type="email" class="input-box" placeholder="Email" required>
                            <input type="password" class="input-box" placeholder="Password" required>
                            <button type="login" class="login-btm">Register</button>
                            <input type="checkbox"><span>Remember Me</span> 
                            <button><img class="image-article" src="/img/37784886.jpg" alt="Wallet"/>Wallet Connect</button>
                        </form>
                        <div><a href="/login">Already have an account? login</a></div>      
    </body>
<footer>   
    <%- include('../partials/footer') %>                                                           
</footer>